:root {
  --text-color: #333;
  --text-color-alt: #999;
  --primary-color: #d0455e;
  --background-color: #f3f1f0;
  --white-color: #fff;
  --mobie-header-height: calc(72px + 15px);
  --header-height: calc(144px + 24px);
  --max-width: 1170px;
  --app-margin: 55px;
}
