@import 'sass-rem';
@import 'sass-mq';
@import 'rem';
@import 'reset';
@import 'globals';
@import '~sass-mq/mq';
@import '~swiper/css/swiper.css';

$mq-breakpoints: (
  mobile:  320px,
  mobileLarge: 550px,
  tablet:  768px,
  desktop: 980px,
  wide:    1170px
);

@mixin sans-serif {
  font-family: sans-serif;

  .wf-active & {
    font-family: 'IBM Plex Sans', sans-serif;
  }
}

@mixin serif {
  font-family: serif;

  .wf-active & {
    font-family: 'IBM Plex Serif', sans-serif;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include serif;
  color: var(--text-color);
}

#app {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);

  @include mq($from: tablet) {
    margin: 0 auto;
    padding: rem(0 var(--app-margin));
    max-width: var(--max-width);
  }
}

.viewport-lock {
  overflow: hidden;
}

svg {
  display: block;
  overflow: hidden;
}

.main {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  flex: 1;
  width: 100%;
  padding-top: var(--mobie-header-height);

  @include mq($from: tablet) {
    padding-top: var(--header-height);
  }
}

input,
button,
textarea {
  @include sans-serif;
  outline: none;
}
